<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pdf_name }}</title>
</head>
<body>
{% set my_string = 'pdf/' ~ pdf_name %}
<embed src="{{ url_for('static', filename=my_string) }}" id="embed_doc"/>

<script>
let e2 = document.getElementById("embed_doc");
const body = document.body,
    html = document.documentElement;

const width = Math.max(body.scrollWidth, body.offsetWidth,
    html.clientWidth, html.scrollWidth, html.offsetWidth);
const height = Math.max(body.scrollHeight, body.offsetHeight,
    html.clientHeight, html.scrollHeight, html.offsetHeight);

e2.width = `${width}`;
e2.height = `${height}`;
</script>
</body>
</html>